#slidr {
	overflow: hidden;
	position:relative;
}

#slidr li { 
	position:absolute; 
	left:0; 
	top:0; 
}

#transitions { 
	width:100%; 
	height:100%; 
	position:absolute; 
	top:0; 
	left:0; 
	overflow:hidden; 
}

#transitions div.cb { 
	position:absolute; 
}

